
.cbz {
    color: white;
}

.cbz li{
    list-style-type: none;
}
.contenedor{
    display: flex;
    justify-content: center;
    margin: 1%;
}
.lista-d li a{
    color: #000;
}

.opciones{
    margin-right: 50px;
}

.img {
    margin-left: 50px;

}


.checkeable input {
    display: none;
  }
  .checkeable img {
    width: 100px;
    border: 5px solid transparent;
  }
  .checkeable input {
    display: none;
  }
  .checkeable input:checked  + img {
    border-color: blue;
  }


.cont{
  position: relative;
}

.left{
  position: absolute;
  right : 0;
}

#cant-detalle-pizza{
  margin: 10px;
}